.App {
  min-height: 100vh;
  color: #282c34;
  padding: 40px;
}

div{
  padding: 10px;
}

.centre {
  display: flex;
  justify-content: center;
}

.section{
  color: #111;
  box-sizing:border-box;
  margin:0;
  border:0.5px;
  border-radius:0.5px;
  border-bottom:.0625rem solid #ddd;
  width:100%
}

.card{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-self:center;
  position:relative;
  width:100%;
  color: #111;
  border:.0625rem solid #ddd;
  border-radius:.125rem;
  margin:.5rem;
  overflow:hidden
}

.card-light{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-self:center;
  position:relative;
  width:100%;
  background-color: #e0e0e0;
  color: #111;
  border:.0625rem solid #ddd;
  border-radius:.125rem;
  margin:.5rem;
  overflow:hidden
}
